<!-- <div class="bg-image" >
  <img alt="photo" src="assets/Logo.png">

</div> -->
<div
  [style.backgroundImage]="'url(' + imageUrl + ')'"
  [style.backgroundSize]="'cover'"
>
  <div class="container">
    <div class="row-one">
      <img src="assets/Logo.png" alt="Logo" />
      <nav class="nav">
        <a href="">Features</a>
        <a href="">Pricing</a>
        <a href="">Careers</a>
        <a href="">Help</a>
      </nav>
    </div>
    <div class="row-two">
      <img src="assets/play-store.png" alt="Logo" />
      <img src="assets/app-store.png" alt="Logo" />
    </div>
  </div>
</div>
