.container{
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 20px;
}

.text-container-d{
    width: 40%;
}

.achievement-h{
    font-size: 50px;
    font-weight: bold;
}

.achievements-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 40%;
    
}

.achievements-card{
    display: flex;
    width: 40%;
}