<div class="bg">
  <div class="container">
    <div class="text-img-d">
      <img src="assets/Quote.png" alt="" />
      <div class="text-d">
        <h1 class="heading">
          Real Stories from Real <br />
          Customers
        </h1>
        <p class="par">Get inspired by these stories.</p>
      </div>
    </div>
    <div>
      <div class="card-div">
        <div class="card">
          <img src="assets/hubspot.png" alt="" />
          <p class="text-p">
            <span class="qu">‛‛</span>
            To quickly start my startup landing page design, I was looking for a
            landing page UI Kit. Landify is one of the best landing page UI kit
            I have come across. It’s so flexible, well organised and easily
            editable.
          </p>
          <h1 class="text-p" style="padding-left: 10px">Floyd Miles</h1>
          <p class="text">Vice President, GoPro</p>
        </div>
        <div class="s-main-card">
          <div>
            <div class="card-b">
              <img src="assets/airbnb.png" alt="" />
              <p class="text-p">
                <span class="qu">‛‛</span>
                I used landify and created a landing page for my startup within
                a week. The Landify UI Kit is simple and highly intuitive, so
                anyone can use it. Jane Cooper CEO, Airbnb
              </p>
              <h1 class="text-p" style="padding-left: 10px">Floyd Miles</h1>
              <p class="text">Vice President, GoPro</p>
            </div>
            <div class="card-b">
              <img src="assets/airbnb.png" alt="" />
              <p class="text-p">
                <span class="qu">‛‛</span>
                I used landify and created a landing page for my startup within
                a week. The Landify UI Kit is simple and highly intuitive, so
                anyone can use it. Jane Cooper CEO, Airbnb
              </p>
              <h1 class="text-p" style="padding-left: 10px">Floyd Miles</h1>
              <p class="text">Vice President, GoPro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
