<div class="container">
  <div class="text-container-d">
    <h1 class="achievement-h">
      Easy integrations <br />
      with 170+ tools
    </h1>
    <p>
      Connect Landify with your favourite <br> tools that you use daily and keep <br>
      things on track.
    </p>
  </div>
  <div class="second">
    <div class="bottom-circle">
      <div class="img-list">
        <img src="assets/one.png" alt="" />
        <img src="assets/two.png" alt="" />
        <img src="assets/three.png" alt="" />
        <img src="assets/four.png" alt="" />
        <img src="assets/five.png" alt="" />
        <img src="assets/six.png" alt="" />
        <img src="assets/seven.png" alt="" />
      </div>
    </div>
  </div>
</div>
