.main-container {
  width: 100%;
  position: relative;
}
.container {
  width: var(--main-section-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-row-one {
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-heading {
  font-size: 70px;
}

.banner-p {
  // width: 72%;
  font-size: 25px;
  color: #374151;
  margin-block: 17px;
}

.banner-btn-section {
  display: flex;
}

.btn {
  width: 150px;
  height: auto;
  background-color: #7c3aed;
  padding: 15px;
  color: #ffff;
  border: solid;
  border-radius: 12px;
}

.btn-play {
  width: auto;
  height: auto;
  display: flex;
  background-color: #ffff;
  padding: 15px;
  gap: 5px;
  border: transparent;
}

.text-p-b {
  align-self: center;
  color: #7c3aed;

}

.rectangle {
  position: absolute;
  width: 500px;
  height: 65px;
  background-color: #75e3ea;
  bottom: 50px;
  left: 0;
  transform: skewY(-8deg);
  z-index: 1;
  border: solid;
}

.small-left-rectangle {
  position: absolute;
  width: 200px;
  height: 65px;
  background-color: #ede9fe;
  bottom: -40px;
  left: 0;
  transform: skewY(-8deg);
  z-index: 1;
}

.rectangleTwo {
  position: absolute;
  width: 650px;
  height: 65px;
  background-color: #c4b5fd;
  bottom: 160px;
  right: 0;
  transform: skewY(-8deg);
  z-index: 0;
}

.small-right-rectangle {
  position: absolute;
  width: 200px;
  height: 65px;
  background-color: #ede9fe;
  bottom: 255px;
  right: 20px;
  transform: skewY(-8deg);
  z-index: 0;
}

.small-two-right-rectangle {
  position: absolute;
  width: 150px;
  height: 65px;
  background-color: #75e3ea;
  bottom: 130px;
  right: 0;
  transform: skewY(-8deg);
  z-index: 0;
}

.banner-row-two {
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 0;
    gap: 30px;
  }

  .banner-row-one {
    margin-block: 12px;
  }

  .banner-heading {
    font-size: 50px;
  }

  .banner-row-two img{
    height: 475px;
  }

  .rectangle {
    width: 250px;
    bottom: 145px;
  }

  .rectangleTwo {
    width: 250px;
    bottom: 185px;
  }
  .small-left-rectangle{
    bottom: 70px;
    width: 90px;

  }
}
