<div class="container">
  <div>
    <div class="banner-row-one">
      <h1 class="banner-heading">
        The easiest way to <br />
        manage projects
      </h1>
      <p class="banner-p">
        From the small stuff to the big picture, organizes the work so teams
        know what to do, why it matters, and how to get it done.
      </p>
      <div class="banner-btn-section">
        <button class="btn">Get Started</button>
        <button class="btn-play">
          <img src="assets/play-icon.png" alt="" />
          <span class="text-p-b">Watch Video</span>
        </button>
      </div>
    </div>

    <div class="rectangle"></div>
    <div class="small-left-rectangle"></div>
    

  </div>
  <div class="banner-row-two">
    <img src="assets/Mobile.png" alt="Mobile" />
  </div>

  <div class="small-right-rectangle"></div>
  <div class="rectangleTwo"></div>
  <div class="small-two-right-rectangle"></div>


</div>
