<div class="container">
  <h1 class="center-text">Tailor-made features</h1>
  <p class="center-text">
    Lorem ipsum is common placeholder text used to demonstrate the graphic
    elements of <br />a document or visual presentation.
  </p>
  <div class="features-container">
    <div class="feature-card">
      <img src="assets/robust.png" />
      <h1 class="feature-card-heading">Robust workflow</h1>
      <p class="feature-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="feature-card">
      <img src="assets/flexibility.png" />
      <h1 class="feature-card-heading">Flexibility</h1>
      <p class="feature-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="feature-card">
      <img src="assets/group.png" />
      <h1 class="feature-card-heading">User friendly</h1>
      <p class="feature-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="feature-card">
      <img src="assets/layouts.png" />
      <h1 class="feature-card-heading">Multiple layouts</h1>
      <p class="feature-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="feature-card">
      <img src="assets/components.png" />
      <h1 class="feature-card-heading">Better components</h1>
      <p class="feature-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="feature-card">
        <img src="assets/organised.png" />
        <h1 class="feature-card-heading">Well organised</h1>
        <p class="feature-card-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
  </div>
</div>
