<div class="bg">
  <div class="container">
    <div class="first-part">
      <h1>
        Manage all projects from <br />
        your mobile
      </h1>
      <p style="text-align: left">
        Download the app to manage your projects, keep track of the <br />
        progress and complete tasks without procastinating. Stay on track <br />
        and complete on time!
      </p>
      <div class="spacing">
        <h3>Get the App</h3>
        <img src="assets/play-store.png" alt="" class="spacing-img" />
        <img src="assets/app-store.png" alt="" class="spacing-img" />
      </div>
    </div>
    <div class="second-part">
      <img src="assets/Phone-M1.png" alt="" />
      <img src="assets/Phone-M2.png" alt="" />
    </div>
  </div>
</div>
